<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update dummy site</title>
    <link rel="stylesheet" href="C:\Users\gusta\IdeaProjects\studentadministration\src\main\resources\static\style.css"
          th:href="@{style.css}"/>
</head>
<body>

<h1>Update Student</h1>

<!-- student = @ModelAttribute -->
<form   method="Post"   th:action="@{/update}"   th:object="${student}">


    <input   type="text"   th:field="*{studentId}" readonly="readonly" />
    <input   type="text"   th:field="*{firstName}" placeholder="First Name" />
    <input   type="text"   th:field="*{lastName}" placeholder="Last Name"/>
    <input   type="text"   th:field="*{password}" placeholder="Password"/>
    <input   type="date"   th:field="*{enrollmentDate}" placeholder="Enrollment Date"/>
    <input   type="text"   th:field="*{cpr}" placeholder="CPR"/>

    <input   type="submit"   value="Update"  class="btn" />
</form>

</body>
</html>